@model IEnumerable<VirtualHair.Models.Hairstyle>

@{
    ViewData["Title"] = "Index";
}

<h1>Hairstyles</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Hairstyle</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ImageData)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Length)</th>
            <th>@Html.DisplayNameFor(model => model.Color)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @if (item.ImageData != null)
                    {
                        <img src="@( "data:image/png;base64," + Convert.ToBase64String(item.ImageData) )"
                             alt="Hairstyle Image" style="max-width:150px;" />
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Length)</td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
